include utils
| {{#each meetings}}
tr
  td(colspan='2')
    table.meeting
      | {{#if this.message}}
      tbody
        tr.head
          td.label {{this.label}} - {{this.theme}}
      tbody
        tr
          td
            .message {{{this.message}}}
      | {{/if}}
      | {{#unless this.message}}
      tbody
        tr.head
          td.label {{this.theme}}
          td.time {{time 5}}
          td.assigned {{this.label}}
      tbody
        tr
          td {{i18n 'OPENING_COMMENTS'}}
          td.time {{time 1}}
          td.assigned
            strong {{i18n 'CH'}}: 
            | {{d this.chairman}}<br />
            strong {{i18n 'ATTENDANT'}}: 
            | {{d this.attendants.[0]}} {{d this.attendants.[1]}}<br />
            strong {{i18n 'SONG'}}: 
            | {{this.opening_song}}
      tbody.treasures
        tr
          td {{i18n 'TREASURES'}}
          td
            +section('treasures')
          td
        | {{#with this.opening_talk}}
        tr
          td {{title}}
          td.time {{time time}}
          td.assigned {{d speaker}}
        | {{/with}}
        | {{#with this.spiritual_gems}}
        tr
          td {{title}}
          td.time {{time time}}
          td.assigned {{d conductor}}
        | {{/with}}
        | {{#with this.bible_reading}}
        tr
          td {{title}}
          td.time {{time time}}
          td.assigned {{d reader}}
        | {{/with}}
      tbody.apply
        tr
          td {{i18n 'APPLY'}}
          td
            +section('apply')
          td
        | {{#each this.apply_yourself_to_the_field_ministry}}
        tr
          td
            | {{#if this.theme}}
            |   {{this.theme}}
            | {{else}}
            |   {{this.title}}
            |   {{#if this.notes}} <i>({{this.notes}})</i>{{/if}}
            | {{/if}}
          td.time {{time this.time}}
          td.assigned {{d this.assigned}}
        | {{/each}}
      tbody.living
        tr
          td
            | {{i18n 'LIVING'}}
          td
            +section('living')
          td
            | {{i18n 'SONG'}}: 
            strong {{this.middle_song}}
        | {{#each this.living_as_christians}}
        tr
          td {{this.title}}
          td.time {{time this.time}}
          td.assigned {{d this.speaker}}
        | {{/each}}
        | {{#with this.service_talk}}
        tr
          td {{i18n 'SERVICE_TALK'}}: {{theme}}
          td.time {{time time}}
          td.assigned {{d speaker}}
        | {{/with}}
        | {{#with this.congregation_bible_study}}
        tr
          td {{title}}
          td.time {{time time}}
          td.assigned {{d conductor}}
        | {{/with}}
      tbody
        tr
          td {{i18n 'CONCLUDING_COMMENTS'}}
          td.time {{time 3}}
          td.assigned
        tr
          td
            | {{i18n 'SONG'}}: 
            strong {{this.closing_song}}
          td.time {{time 5}}
          td.assigned
            | {{i18n 'PRAYER'}}: {{this.closing_prayer}}
        tr
          td.hr(colspan='3') {{time 0}}
            hr
      | {{/unless}}
      tfoot
        tr
          td(colspan='3')
            span.page {{i18n 'PAGE'}}
| {{/each}}