$red: #bf2f13;
$yellow: #9b6d17;
$grey: #2a6b77;

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "Fira Sans", "Open Sans", sans-serif;
    font-size: 12px;
}

@page {
    margin: 5mm;
    size: A4;
}

@media print {
    div.options {
        display: none;
    }

    .schedule {
        width: 100% !important;
    }
}

html,
body {
    height: 100%;
}

div.options {
    background-color: #f1f1f1;
    width: calc(300px - 20px);
    height: 100%;
    position: fixed;
    right: 0;
    padding: 10px;

    form {
        fieldset {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;

            legend {
                font-weight: bold;
                padding: 0 10px;
                color: #333;
            }

            dl {
                dt {
                    margin-bottom: 10px;
                    font-weight: bold;
                    color: #333;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        color: #555;
                    }
                }

                dd {
                    margin-bottom: 10px;

                    select,
                    input[type="number"] {
                        width: 100%;
                        padding: 8px;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        border-radius: 3px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        >button {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
    }
}

table {
    width: 100%;
    border-collapse: separate;

    &.meeting {

        td {


            &.hr {
                height: auto;
                background-color: #FFF;
            }
        }

        >tbody {

            &.apply,
            &.living,
            &.treasures {
                >tr:not(:first-child) {
                    &:nth-child(odd) {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }

    &.schedule {
        float: left;
        width: calc(100% - 300px);

        >tbody {
            counter-reset: page;

            >tr {                
                tfoot {
                    display: none;
                    text-align: right;

                    span.page {
                        padding: 0 8px;
                    }
                }

                &:nth-child(even) {
                    page-break-after: always;

                    tfoot {
                        display: table-row-group;

                        span.page {
                            &:after {
                                counter-increment: page;
                                content: " " counter(page);
                            }
                        }
                    }
                }
            }
        }
    }

    thead {
        &.horizontal {
            tr td {
                vertical-align: baseline;

                div {
                    &#label {
                        float: right;
                        font-family: "Oranienbaum";
                        font-size: 25px;
                    }

                    &#name {
                        float: left;
                        padding-top: 9px;
                        font-size: 15px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &.vertical {
            tr:first-child td {
                div {
                    text-align: center;
                    text-transform: uppercase;

                    &#label {
                        font-weight: bold;
                        font-size: 20px;

                    }

                    &#name {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

table.vertical {
    hr {
        border-top: 1px solid #000;
    }

    table.meeting {
        border-spacing: 0;
        margin-top: 10px;

        td {
            vertical-align: top;
            padding: 5px;

            i {
                font-size: 11px;
                color: #909090;
            }
        }

        tbody.apply,
        tbody.living,
        tbody.treasures {
            tr {
                &:nth-child(1) {
                    td {
                        vertical-align: baseline;

                        &:nth-child(1) {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 14px;
                        }

                        &:nth-child(1),
                        &:nth-child(3) {
                            div.section {
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }

                td:nth-child(2) {
                    color: #fff;
                    text-align: center;
                    position: relative;

                    svg {
                        max-height: 25px;
                        max-width: 25px;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    &:nth-child(2) {
                        background-color: #f1f1f1;
                    }
                }
            }
        }

        tbody.treasures {
            tr {
                &:nth-child(1) {
                    color: $grey;
                }

                td {
                    div.section {
                        border-color: $grey;
                    }

                    &:nth-child(2) {
                        background-color: $grey;
                    }
                }
            }
        }

        tbody.apply {
            tr {
                &:nth-child(1) {
                    color: $yellow;
                }

                td {
                    &:nth-child(2) {
                        background-color: $yellow;
                    }
                }
            }
        }

        tbody.living {
            tr {
                &:nth-child(1) {
                    color: $red;
                }

                td {
                    &:nth-child(2) {
                        background-color: $red;
                    }
                }
            }
        }

        tr {
            td:nth-child(1) {
                width: 50%;
                text-align: right;
            }

            td:nth-child(2) {
                width: 40px;
            }

            td:nth-child(3) {
                width: 50%;
                text-align: left;
            }
        }
    }

    tr.head {

        td.assigned,
        span.uppercase {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

table.default {
    table.meeting {
        border-spacing: 0 4px;

        td {
            padding: 3px;
        }

        td.time,
        td.title {
            // color: $grey;
            font-weight: bold;
            text-align: center;
        }

    }

    tbody.apply,
    tbody.living,
    tbody.treasures {
        tr {
            &:nth-child(1) {
                td {
                    font-weight: bold;
                    height: 20px;
                    text-indent: 5px;
                    text-transform: uppercase;

                    &:nth-child(1) {
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                    }

                    img {
                        float: left;
                        max-height: 20px;
                    }
                }
            }
        }
    }

    tbody.treasures {
        tr {
            &:nth-child(1) {
                td {
                    &:nth-child(1) {
                        background-color: $grey;
                    }
                }
            }

            td {
                color: $grey;
            }
        }
    }

    tbody.apply {
        tr {
            &:nth-child(1) {
                td {
                    &:nth-child(1) {
                        background-color: $yellow;
                    }
                }
            }

            td {
                color: $yellow;
            }
        }
    }

    tbody.living {
        tr {
            &:nth-child(1) {
                td {
                    &:nth-child(1) {
                        background-color: $red;
                    }
                }
            }

            td {
                color: $red;
            }
        }
    }

    tr.apply,
    tr.living,
    tr.treasures {
        td {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            white-space: normal;
        }
    }

    td.title,
    td.assigned {
        width: 0.1%;
        white-space: nowrap;
    }

    td.title {
        text-align: right;
    }

    tr.head {
        td.label {
            font-size: 14px;
        }
    }
}

tr,
tfoot,
thead {
    &.disabled {
        display: none !important;
    }
}

td {
    &.time {
        width: 40px;
    }

    &.label {
        font-weight: bold;
        text-transform: uppercase;
    }
}

tbody.message {
    background-color: #f1f1f1;

    td {
        padding: 0 !important;

        div.head {
            text-transform: uppercase;
            background-color: #fff;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 5px;
        }

        div.body {
            font-size: 22px;
            margin: 8px;
            padding: 29px 0px;
            text-align: center;

            p {
                font-size: 50px;
            }

            &,
            p {
                font-family: "Oranienbaum";
            }
        }
    }
}