body {
    font-size: 12px;
}

div#boot {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

button#draggable {
    position: fixed;
    white-space: nowrap;
    right: 10px;
    z-index: 30;
    bottom: 10px;
}

button#permissions {
    position: fixed;
    right: 10px;
    z-index: 30;
    bottom: 50px;
    display: none;
}

span.badge {
    color: #000;
    cursor: pointer;
    line-height: 11px;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

i {
    cursor: pointer;
    &.fa-print {
        display: none;
    }
}

table {
    th, td {
        white-space: nowrap;
        vertical-align: middle;
    }
    thead {
        th {
            top: 0;
            &:first-child {
                top: 0;
                left: 0;
                z-index: 40;
                background-color: black;
                color: #FFF;
            }
            span, div {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                text-indent: 2px;
                i.fa {
                  line-height: 18px;
                  padding: 0 3px;
                }
            }
        }
    }
    tbody {
        td {
            text-align: center;
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                column-gap: 5px;
            }
            &.single {
                background-color: #caffbf;
            }
            &.absence {
                background-color: #ffadad;
            }
            &.event {
                background-color: #7FD4FF;
            }
        }
        i {
            margin-right: 5px;
        }
    }
    tbody, tfoot {
        th {
            left: 0;
            background-color: #CCC !important;
        }
    }
    tbody, thead, tfoot {
        th {
            position: sticky;
            z-index: 30;
        }
    }
}

.drag-area {
    border: 3px dashed #e0eafc;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    display: flex;
    min-width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -200px;
    padding: 0 50px;
    .icon {
        font-size: 50px;
        color: #1683ff;
    }
    .header {
        font-size: 20px;
        font-weight: 500;
        color: #34495e;
        .button {
            font-size: 20px;
            font-weight: 500;
            color: #1683ff;
            cursor: pointer;
        }
    }
    .support {
        font-size: 12px;
        color: gray;
        margin: 10px 0 15px 0;
    }
    &.active {
        border: 2px solid #1683ff;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tooltip {
    --bs-tooltip-max-width: none;
    p {
        margin: 0;
    }
    table.tooltip-table {
        font-size: 12px;
        font-family: monospace;
        tr {
            td {
                padding: 5px;
                text-align: right;
                &:first-child {
                    text-align: left;
                }
            }
        }
    }
}
